In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_ind as ttest

In [2]:
df = pd.read_csv('datasale.csv')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,"3,39",17850.0,United Kingdom
1,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/10 8:34,"1,69",13047.0,United Kingdom
2,536367,21755,LOVE BUILDING BLOCK WORD,3,12/1/10 8:34,"5,95",13047.0,United Kingdom
3,536368,22914,BLUE COAT RACK PARIS FASHION,3,12/1/10 8:34,"4,95",13047.0,United Kingdom
4,536373,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 9:02,"2,75",17850.0,United Kingdom

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54214 entries, 0 to 54213
Data columns (total 8 columns):
InvoiceNo      54214 non-null object
StockCode      54214 non-null object
Description    54080 non-null object
Quantity       54214 non-null int64
InvoiceDate    54214 non-null object
UnitPrice      54214 non-null object
CustomerID     40643 non-null float64
Country        54214 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 3.3+ MB

приведем в порядок датафрейм

In [4]:
df = df.dropna()

In [5]:
df['Quantity']=df['Quantity'].astype(int)
df['UnitPrice'] = [x.replace(',', '.') for x in df['UnitPrice']] 
df['UnitPrice'] = df['UnitPrice'].astype(float)

Проведем анализ по странам и посмотрим по продукции что пользуется популярностью, а что - нет.

выручка и количество проданных единиц по странам, топ-10 и антитоп-10

In [32]:
df_country = df.groupby(['Country']).sum().sort_values(by='UnitPrice', ascending=False).head(10)
df_country['Country'] = df_country.index
df_country.to_csv('df_country.csv', index=False)
df_country

                Quantity   UnitPrice   CustomerID         Country
Country
United Kingdom    403081  119659.441  562181627.0  United Kingdom
EIRE               13303    4711.240   10615425.0            EIRE
Germany            11993    4384.710   12018930.0         Germany
France             11001    2915.040   11074752.0          France
Portugal            1819    1810.950    1885236.0        Portugal
Norway              1800    1096.410    1305696.0          Norway
Spain               2934     912.480    3304514.0           Spain
Netherlands        20917     824.160    3354237.0     Netherlands
Belgium             2392     764.920    2622878.0         Belgium
Switzerland         3478     592.760    2265321.0     Switzerland

Что и стоило ожидать - по ЕС работа ведется бойко

In [33]:
df_anticountry = df.groupby(['Country']).sum().sort_values(by='UnitPrice', ascending=True).head(10)
df_anticountry['Country'] = df_anticountry.index
df_anticountry.to_csv('df_anticountry.csv', index=False)
df_anticountry

                      Quantity  UnitPrice  CustomerID               Country
Country
Bahrain                      6       2.95     12355.0               Bahrain
Czech Republic              36       4.90     25562.0        Czech Republic
Lebanon                      8       4.95     12764.0               Lebanon
RSA                         29       7.92     49784.0                   RSA
United Arab Emirates        38      18.03     78965.0  United Arab Emirates
Brazil                      28      18.45     38307.0                Brazil
Canada                     226      18.77    224716.0                Canada
Lithuania                  104      19.30     91992.0             Lithuania
European Community          33      26.50     75540.0    European Community
Iceland                    161      45.73    185205.0               Iceland

Если по таблице выше основные покупатели - ЕС, то почему-то проблемы есть у Чехии и Латвии. С остальными понятно - далеко, доставка дорогая, ожидание долгое.

ТОП-10 и антитоп-10 самых продаваемых вещей

In [35]:
df_sale = df.groupby(['Description', 'StockCode']).sum().sort_values(by='Quantity', ascending=False).head(10)
df_sale['StockCode'] = df_sale.index
df_sale.to_csv('df_sale.csv', index=False)
df_sale

,,Quantity,UnitPrice,CustomerID,StockCode
Description,StockCode,,,,
JUMBO BAG RED RETROSPOT,85099B,4845,349.14,2646295.0,"(JUMBO BAG RED RETROSPOT, 85099B)"
PACK OF 72 RETROSPOT CAKE CASES,21212,4528,70.61,1922932.0,"(PACK OF 72 RETROSPOT CAKE CASES, 21212)"
ASSORTED COLOUR BIRD ORNAMENT,84879,4286,212.47,1929190.0,"(ASSORTED COLOUR BIRD ORNAMENT, 84879)"
WORLD WAR 2 GLIDERS ASSTD DESIGNS,84077,4190,15.84,819137.0,"(WORLD WAR 2 GLIDERS ASSTD DESIGNS, 84077)"
RED HARMONICA IN BOX,21915,3779,64.01,763073.0,"(RED HARMONICA IN BOX , 21915)"
WHITE HANGING HEART T-LIGHT HOLDER,85123A,3334,627.79,3409039.0,"(WHITE HANGING HEART T-LIGHT HOLDER, 85123A)"
SMALL CHINESE STYLE SCISSOR,16014,3075,3.90,149664.0,"(SMALL CHINESE STYLE SCISSOR, 16014)"
ASSORTED COLOURS SILK FAN,15036,3000,31.98,595551.0,"(ASSORTED COLOURS SILK FAN, 15036)"
JUMBO BAG PINK POLKADOT,22386,2718,210.55,1597706.0,"(JUMBO BAG PINK POLKADOT, 22386)"
MINI PAINT SET VINTAGE,22492,2715,30.71,644272.0,"(MINI PAINT SET VINTAGE , 22492)"

Похоже, что JUMBO BAG RED RETROSPOT нынче в моде))

In [36]:
df_antisale = df.groupby(['Description', 'StockCode']).sum().sort_values(by='Quantity', ascending=True).head(10)
df_antisale['StockCode'] = df_antisale.index
df_antisale.to_csv('df_antisale.csv', index=False)
df_antisale

,,Quantity,UnitPrice,CustomerID,StockCode
Description,StockCode,,,,
PINK BLUE FELT CRAFT TRINKET BOX,20971,-780,69.77,832222.0,"(PINK BLUE FELT CRAFT TRINKET BOX, 20971)"
PANTRY CHOPPING BOARD,23113,-561,25.06,83475.0,"(PANTRY CHOPPING BOARD, 23113)"
MIRROR MOSAIC T-LIGHT HOLDER ROUND,22103,-450,5.34,66438.0,"(MIRROR MOSAIC T-LIGHT HOLDER ROUND, 22103)"
WHITE TALL PORCELAIN T-LIGHT HOLDER,18097C,-282,9.60,65110.0,"(WHITE TALL PORCELAIN T-LIGHT HOLDER, 18097C)"
Discount,D,-252,872.58,195003.0,"(Discount, D)"
SET OF 3 BABUSHKA STACKING TINS,85232B,-236,14.85,48917.0,"(SET OF 3 BABUSHKA STACKING TINS, 85232B)"
IVORY DINER WALL CLOCK,22191,-223,354.45,640525.0,"(IVORY DINER WALL CLOCK, 22191)"
ALPHABET STENCIL CRAFT,22564,-197,10.87,129333.0,"(ALPHABET STENCIL CRAFT, 22564)"
HANGING FAIRY CAKE DECORATION,35924,-137,7.99,62404.0,"(HANGING FAIRY CAKE DECORATION, 35924)"
ASSTD DESIGN RACING CAR PEN,11001,-85,11.41,97570.0,"(ASSTD DESIGN RACING CAR PEN, 11001)"

Большие проблемы с заказами по продукции выше. Если это брошенные корзины, то, возможно, наша цена выше среднего. Если возвраты - то, вероятно, с продукцией в серии что-то не то.